body {
    color:whitesmoke;
    background-color:black;
}

.testDivs {
    margin-top: 20px;
    padding: 5px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    width: 30%;
    text-align: center;
}

#div1 {
    margin-left: auto;
    margin-right: auto;
}

#div2 {
    /* position: absolute;
    right: 0px; */
    float: right;
}

img {
    width: 150px;
    height: 150px;
}